
<div [formGroup]="formGroup" class="question-container">
    <h4>{{section + '.' + question.numberLevel}}</h4>
    <h3>{{question.importantIndicator}} {{question.displayText}} {{question.mandatoryIndicator}}</h3>
    
    <mat-radio-group *ngIf="question.type === 'radio'" class="flex-column">
        <ng-container *ngFor="let choice of question.choiceOptions">
            <mat-radio-button (change)="formGroup.patchValue(choice)" [value]="choice">{{choice.label}}</mat-radio-button>
        </ng-container>
    </mat-radio-group>
    
    <div *ngIf="question.type === 'three_buttons'" class="flex-column">
        <ng-container *ngFor="let choice of question.choiceOptions">
            <button mat-stroked-button color="primary" (click)="formGroup.patchValue(choice)">{{choice.label}}</button>
        </ng-container>
    </div>

    <div *ngIf="question.type === 'dropdown'">
        <mat-form-field appearance="outline" class="dropdown">
            <mat-label>Select an option</mat-label>
            <mat-select (valueChange)="selectedChoiceFn($event)">
                <ng-container *ngFor="let choice of question.choiceOptions">
                    <mat-option [value]="choice">{{choice.label}}</mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
    </div>

</div>
    