$principal: #444444;
$secundary: #7F8AA0;
$background: #F0F0F0;
$border: #DCDCDC;

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.title {
    width: 100%;
    background-color: $principal;
    color: white;
    padding: 10px 0px;
    text-align: center;
}

.accordion {
    max-width: 700px;
    display: grid;
    place-items: center;
    margin: 40px 10px 0px;
    gap: 30px;
    & .mat-expansion-panel {
        width: 100%;
        ::ng-deep {
            & .mat-expansion-panel-body {
                background-color: $background;
                padding-top: 24px;
                padding-bottom: 0px;
            }
        }
    }
    & .mat-expansion-panel-header {
        height: 70px;
        padding: 0px;
        ::ng-deep {
            & .mat-content {
                height: 100%;
            }

            & .mat-expansion-panel-header-title {
                margin: 0;
            }

            & .mat-expansion-indicator {
                display: none;
            }
        }
    }

    & .title-number {
        width: 70px;
        font-size: 2.2rem;
        color: white;
        background-color: $secundary;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & .title-container {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: $principal;
        color: white;
        padding-left: 30px;
        & > h2 {
            margin: 0;
            font-size: 1rem;
        }
    }
}
