<main>
  <h1 class="title">{{title}}</h1>
  <form [formGroup]="sectionsForm">
    <mat-accordion class="accordion">
      <ng-container *ngFor="let s of sections; let i = index">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="title-number">{{s.numberLevel}}</div>
              <div class="title-container">
                <h2>{{s.name}}</h2>
                <span>Total questions: {{questions[i].length}}, answered: {{getAnswered(s.numberLevel)}}</span>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div [formArrayName]="getKeySection(s.name)">
            <div *ngFor="let question of questions[i]; let j = index">
              <app-question 
              [question]="question"
              [formArray]="getSection(s.numberLevel)"
              [formGroup]="getFormGroup(getSection(s.numberLevel),j)" 
              [section]="s.numberLevel"
              ></app-question>
            </div>
          </div>
        </mat-expansion-panel>
    </ng-container>
    </mat-accordion>
  </form>
</main>

